<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <script th:replace="fragments/header :: headerElement"/>
        <link th:href="@{/css/index.css}" rel="stylesheet">
        <title>Books</title>
    </head>

    <body>

        <script th:replace="fragments/navbar :: navbar"/>

        <div class="container mt-4">

            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div class="card-counter today-review blink">
                            <i class="fab fa-rev"></i>
                            <span class="count-numbers" th:text="${toReviewCount}">12</span>
                            <span class="count-name">Today's Review</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="card-counter color-level-1">
                            <i>1</i>
                            <span class="count-numbers" th:text="${levelOneCount} ?: '0'">12</span>
                            <span class="count-name">Level 1</span>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="card-counter color-level-2">
                            <i>2</i>
                            <span class="count-numbers" th:text="${levelTwoCount} ?: '0'">599</span>
                            <span class="count-name">Level 2</span>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="card-counter color-level-3">
                            <i>3</i>
                            <span class="count-numbers" th:text="${levelThreeCount} ?: '0'">6875</span>
                            <span class="count-name">Level 3</span>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="card-counter color-level-4">
                            <i>4</i>
                            <span class="count-numbers" th:text="${levelFourCount} ?: '0'">35</span>
                            <span class="count-name">Level 4</span>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-6 col-md-3">
                        <div class="card-counter color-level-5">
                            <i>5</i>
                            <span class="count-numbers" th:text="${levelFiveCount} ?: '0'">599</span>
                            <span class="count-name">Level 5</span>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="card-counter color-level-6">
                            <i>6</i>
                            <span class="count-numbers" th:text="${levelSixCount} ?: '0'">6875</span>
                            <span class="count-name">Level 6</span>
                        </div>
                    </div>

                    <div class="col-6 col-md-3">
                        <div class="card-counter color-level-7">
                            <i>7</i>
                            <span class="count-numbers" th:text="${levelSevenCount} ?: '0'">35</span>
                            <span class="count-name">Level 7</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>


        <script>

            window.addEventListener('DOMContentLoaded', function () {

                document.querySelector('.today-review').addEventListener('click', function (e) {
                    window.location.href = "/exam";
                });
            });
        </script>


        <script th:replace="fragments/header :: jslibs"/>
    </body>
</html>